/*
** Bootstrap Addons
*/

@mixin btnMain(
  $btnColor1: $colorMain,
  $textColor1: $lightColor,
  $textColor2: $lightColor
){
  border-color: $btnColor1;
  background-color: $btnColor1;
  color: $textColor1;
  &:hover{
    background-color: darken($btnColor1, 8%);
    border-color: darken($btnColor1, 8%);
    color: $textColor2;
  }
}

@mixin btnOutlineMain(
  $mainColor: $colorMain,
  $textColor1: $darkgreyColor,
  $textColor2: $darkgreyColor,
  $btnColor: transparent,
){
  border: 2px solid $mainColor;
  color: $textColor1;
  position: relative;
  background-color: transparent;
  z-index: 1;
  overflow: hidden;
  span{
    z-index: 2;
    position: relative;
  }
  &::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    transition: all 0.5s;
    opacity: 1;
    transform: translate(-13%,-190%) rotate(-30deg);
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: rgba($mainColor,1);
    background-color: rgba($mainColor,0.6);
    transform-origin: left;
  }
  &::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    transition: all 0.5s;
    opacity: 1;
    transform: translate(-13%,-190%) rotate(-30deg);
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: rgba($mainColor,1);
    background-color: rgba($mainColor,0.9);
    transition-delay: 0.2s;
    transform-origin: left;
  }
  &:hover{
    color: $textColor2;
    background-color: transparent;
    &::before,
    &::after{
      transform: translate(0,0);
      opacity: 0;
      transform-origin: inherit;
    }
  }
}

@import 'addons/horizontal';
@import 'addons/vertical';
@import 'addons/sections';
@import 'addons/media_items';
@import 'addons/buttons';

