/*
** General Styles for HTML tags
*/
html {
  width: 100%;
  height: 100%;
  position: relative;
  overflow: visible;
}

::selection {
  color: $lightColor;
  background-color: $colorMain;
}

::-moz-selection {
  color: $lightColor;
  background-color: $colorMain;
}

body {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 30px;
  background-color: $lightColor;
  overflow: visible;
  overflow-x: hidden;
  //for scrollbar always seen
  overflow-y: scroll;
  //for scrollspy
  position: relative;
}

br{
  @media (max-width: 575px) {
    display: none;
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  //text-transform: uppercase;
  font-weight: bold;
  line-height: 1;
  word-break: break-word;
  font-family: 'Montserrat', sans-serif;
  //fix for Raleway numbers
  font-variant-numeric: lining-nums;
  font-feature-settings: "lnum" 1;
  letter-spacing: -0.3px;
}

h1{
  font-size: 60px;
  margin-top: 70px;
  margin-bottom: 0.15em;
}
h2{
  font-size: 50px;
  margin-top: 70px;
  margin-bottom: 0.2em;
}
h3{
  font-size: 40px;
  margin-top: 70px;
  margin-bottom: 0.25em;
}
h4 {
  font-size: 30px;
  margin-top: 70px;
  margin-bottom: 0.4em;
}

h5 {
  font-size: 24px;
  margin-top: 70px;
  margin-bottom: 0.4em;
}

h6 {
  font-size: 20px;
  margin-top: 70px;
  margin-bottom: 0.6em;
}

@media (max-width: 992px) {
  h1 {
    font-size: 3.1rem;
    margin-top: 35px;
  }
  h2 {
    font-size: 2.7rem;
    margin-top: 35px;
  }
  h3 {
    font-size: 2.3rem;
    margin-top: 35px;
  }
  h4 {
    font-size: 1.9rem;
    margin-top: 35px;
  }
  h5 {
    font-size: 1.5rem;
    margin-top: 35px;
  }
  h6 {
    font-size: 1.3rem;
    margin-top: 35px;
  }
}

h1:first-child,
h2:first-child,
h3:first-child,
h4:first-child,
h5:first-child,
h6:first-child {
  margin-top: 0;
}

h1:last-child,
h2:last-child,
h3:last-child,
h4:last-child,
h5:last-child,
h6:last-child {
  margin-bottom: 0;
}

p {
  margin-bottom: 1.2em;
}

ul:last-child,
ol:last-child,
p:last-child {
  margin-bottom: 0;
}

p:last-child {
  &:after {
    content: '';
    display: block;
    clear: both;
  }
}

img, figure {
  max-width: 100%;
  height: auto;
}

figcaption {
  p {
    margin-bottom: 0;
  }
  font-size: 0.95em;
  line-height: 1.4;
  padding: 10px 0 7px;
}

b, strong {
  font-weight: 700;
}

label {
  color: $darkgreyColor;
}

a {
  text-decoration: none;
  transition: all 0.2s ease-in-out 0s;
  color: $darkgreyColor;
  &:hover {
    color: $colorMain2;
    text-decoration: none;
    transition: all 0.15s linear 0s;
  }
}

blockquote {
  border-left: 1px solid $borderColor;
  padding: 20px 0 5px 35px;
  margin-top: 40px;
  margin-bottom: 40px;
  position: relative;
  &::before,
  &::after{
    content: '';
    display: inline-block;
    min-width: 50px;
    min-height: 55px;
    background-color: $colorMain;
    position: absolute;
    top: -15px;
    left: 20px;
  }
  &::before{
    z-index: 2;
    border-radius: 35% 65% 25% 75% / 61% 38% 62% 39% ;
    animation: bulb-2 6s linear infinite;
  }
  &::after{
    z-index: 1;
    opacity: .5;
    border-radius: 76% 24% 66% 34% / 55% 20% 80% 45%;
    transform: rotate(180deg) scale(1.1);
    animation: bulb-1 6.5s linear infinite 1s;
  }

  & > p{
    font-size: 20px;
    font-style: italic;
    line-height: 24px;
    text-indent: 50px;
    font-weight: 400;
    &:first-child{
      &::before{
        content: '';
        position: absolute;
        display: inline-block;
        width: 27px;
        height: 20px;
        left: 30px;
        top: 0;
        -webkit-mask: url('../img/quote.png') no-repeat center / contain;
        background-color: $lightColor;
        z-index: 3;
        @media (max-width: 767px) {
          left: 13px;
        }
      }
    }
  }

  footer,
  cite{
    img{
      float: left;
      margin-right: 10px;
      height: 50px;
      width: 50px;
      border-radius: 50%;
      object-fit: cover;
    }
    span{
      display: block;
      line-height: 1.2;
      &:nth-of-type(1){
        padding-top: 5px;
        font-weight: 600;
        font-family: Montserrat;
      }
    }
  }

  .media {
    margin: 15px 0;
    img {
      max-width: 60px;
      border-radius: 50%;
    }
  }
  h3, h4, .text-small {
    font-style: normal;
  }

  &[style='text-align:right']{
    & > p {
      padding-right: 55px;
      text-indent: unset;
      &::before{
        left: auto;
        right: 0;
      }
    }
  }

  @media (max-width: 1199px) {
    margin-top: 25px;
    margin-bottom: 25px;
  }

  @media (max-width: 767px) {
    margin-left: 0;
    padding-left: 0;
    border-left: none;
    &::before,
    &::after{
      left: 0;
    }
  }

  &.blockquote-styled{
    margin-left: 0;
    padding-left: 70px;
    padding-top: 0;
    padding-bottom: 0;
    border: none;
    &::before,
    &::after{
      left: 0;
      top: -10px;
    }
    p{
      text-indent: unset;
      line-height: 1.6;
      &:before{
        left: 13px;
        top: 4px;
      }
    }
  }
}

input:focus,
button:focus,
select:focus,
textarea:focus,
a:focus {
  outline: medium none;
  text-decoration: none;
}

a > img {
  transition: all 0.15s ease-in-out 0s;
}

a:hover > img {
  opacity: 0.8;
}

a.btn:active,
a.button:active,
button:not(.close):active,
input[type="submit"]:active {
  position: relative;
  top: 1px !important;
}

hr {
  border-color: $borderColor;
  //for flexbox
  margin-left: 0;
  margin-right: 0;
  margin-top: 30px;
  margin-bottom: 30px;
}

iframe {
  border: none;
  max-width: 100%;
}

table {
  width: 100%;
  max-width: 100%;
  margin: 10px 0;
  td, th {
    border: 1px solid $borderColor;
    padding: 18px 8px;
    line-height: 1.42857143;
    vertical-align: middle;
    text-align: center;
  }
  th {
    color: $darkgreyColor;
    font-weight: normal;
    vertical-align: middle;
  }
}

.wp-block-table.is-style-stripes{
  border: none;
}

.ds, .cs{
  table td,
  table th{
    border-color: $darkBorderColor;
  }
}

.ds{
  table th{
    color: $lightColor;
  }
}

.desc-col{
  font-weight: 500;
  color: $darkgreyColor;
}

.no_border{
  border: none;
  margin: 0;
  td, th{
    border: none;
    text-align: left;
    padding: 4px;
  }
  th{
    font-size: 20px;
    font-weight: bold;
    &:nth-of-type(5n+1){
      color: #93b1bb;
    }
    &:nth-of-type(5n+2){
      color: #fc7c0b;
    }
    &:nth-of-type(5n+3){
      color: $darkgreyColor;
    }
    &:nth-of-type(5n+4){
      color: #61228c;
    }
    &:nth-of-type(5n+5){
      color: #2c7eff;
    }
  }
  td{
    color: $darkgreyColor;
    line-height: 26.5px;
    vertical-align: bottom;
  }
}

.border_right{
  border: none;
  margin: 0;
  td, th{
    border: none;
    text-align: left;
    padding-top: 15px;
    padding-bottom: 15px;
  }
  th{
    padding-left: 25px;
    padding-right: 0;
    @media (max-width: 1199px) {
      padding-left: 15px;
    }
  }
  td{
    padding-left: 5px;
    padding-right: 15px;
    &:first-child{
      padding-left: 0;
    }
  }
  td:not(:last-of-type){
    border-right: 1px solid $borderColor;
  }
}

.some_border{
  border: none;
  margin: 0;
  td, th{
    border: none;
    text-align: left;
    padding: 13px 65px;
    @media (max-width: 1199px) {
      padding-left: 20px;
      padding-right: 20px;
    }
  }
  th{
    width: 40%;
    text-align: right;
  }
  tr{
    border: 1px solid $borderColor;
  }
}

canvas {
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}

pre {
  line-height: 1.5;
  background-color: $universalBackgroundColor;
  padding: 0.5em 1em;
}
//block with signature on main page
.big {
  margin: 0.85em 0 1.3em;
  font-size: 20px;
  line-height: 1.8em;
  em {
    display: inline-block;
    margin: 0.3em 0 0;
    @media (min-width:768px) {
      margin: 1em 0 0.5em;

    }
  }
}

.media {
  h3 {
    text-transform: uppercase;
  }
  .dropcap {
    margin-right: 0;
  }
}

.small-text {
  @include small-text();
  &.extra-letter-spacing {
    @media (min-width: 768px) {
      letter-spacing: 1em;
    }
  }
}

.table{
  &:last-child {
    margin-bottom: 0;
  }
}

.owl-carousel.owl-theme:not(.owl-topline-news-slider):not(.products) .owl-nav{
  transform: translateY(-50%);
  height: 60px;
  & > div{
    opacity: 1;
    height: 60px;
    width: 60px;
    border-radius: 50%;
    background-color: rgba($lightColor,.9);
    display: flex;
    align-items: center;
    justify-content: center;
    &:hover{
      opacity: 1;
    }
    i{
      color: $darkgreyColor;
      font-size: 12px;
    }
    &:first-child{
      left: -30px;
      i{
        position: relative;
        left: 15px;
        transition: all .3s ease-in-out;
      }
      &:hover{
        left: 5px;
        background-color: $darkgreyColor;
        i{
          color: $lightColor;
          left: 0;
        }
      }
    }
    &:last-child{
      right: -30px;
      i{
        position: relative;
        right: 15px;
        transition: all .3s ease-in-out;
      }
      &:hover{
        right: 5px;
        background-color: $darkgreyColor;
        i{
          color: $lightColor;
          right: 0;
        }
      }
    }
  }
}

.widget_slider{
  .owl-carousel.owl-theme .owl-nav{
    overflow: hidden;
    top: 34%;
  }
}

.embed-responsive .embed-responsive-item, .embed-responsive embed, .embed-responsive iframe, .embed-responsive object, .embed-responsive video{
  z-index: 3;
}

address{
  &:last-child{
    margin-bottom: 0;
  }
}

.owl-custom-nav{
  a + a{
    margin-left: 10px;
  }
  i{
    font-size: 14px;
  }
  a{
    opacity: 1;
    transition: all .3s ease-in-out;
    &:hover{
      color: inherit;
      opacity: .5;
    }
  }
}

mark{
  background: none;
  color: $colorMain;
}

.modal{
  .modal-content{
    position: relative;
    button.close{
      position: absolute;
      right: 20px;
      top: 20px;
      color: $lightColor;
      opacity: 1;
      font-weight: 300;
      z-index: 10;
      box-shadow: none;
      &:hover{
        color: $colorMain;
      }
    }
    .modal-body{
      padding: 40px;
      .container{
        padding: 0;
      }
    }
  }
}

.ds{
  .has-text-color{
    color: $lightColor!important;
  }
  .wp-block-table.is-style-stripes td{
    border-color: $darkBorderColor;
  }
}

.wp-block-archives {
  margin-bottom: 20px;
}

.wp-block-media-text:not(:last-child){
  margin-bottom: 25px;
}

.wp-block-button{
  clear: both;
  &:hover{
    color: $darkgreyColor!important;
  }
}
.is-style-outline{
  &:hover{
    color: $lightColor!important;
  }
}

.wp-block-button{
  margin-bottom: 10px;
}

.wp-block-categories{
  margin-bottom: 20px;
}

.wp-block-cover-text{
  color: $lightColor!important;
}

.wp-block-table.is-style-stripes tbody tr:nth-child(odd){
  background-color: $lightColor;
}

#user-registration{
  margin: 0;
  background-color: transparent;
  .ur-frontend-form{
    border: none;
    padding: 0;
  }
  .user-registration-form__label-for-checkbox{
    input{
      display: none;
    }
  }
  .user-registration-Input::placeholder{
    color: $darkgreyColor;
  }
  .ur-form-grid{
    display: flex;
    flex-direction: column;
    align-items: center;
    .form-row{
      display: flex;
      flex-direction: column-reverse;
      .button{
        margin-bottom: 0;
        border: 2px solid $colorMain;
      }
    }
  }
}

.wp-block-gallery.alignleft{
  margin-top: 0!important;
}

.gallery-caption, .wp-caption{
  max-width: 100% !important;
  padding: 10px!important;
}

.wp-block-search{
 flex-wrap: nowrap;
  & + p{
    margin-top: 20px;
  }
}

form[role='search'] {
  display: flex;
}


.wp-block-quote > p::before{
  top: 0;
}

.wp-block-quote{
  &:first-child{
    padding-top: 0;
  }
}
.wp-block-column{
  ol:first-child{
    margin-top: -7px;
  }
}

dl#attachment_612{
  display: none;
}

.gallery + .page-links{
  margin-top: 50px;
}

.pswp__caption__center{
  text-align: center!important;
}

.wp-block-calendar{
  position: relative;
  padding-top: 50px;
  border-top: 1px solid $darkBorderColor;
  table tbody{
    color: $darkFontColor!important;
  }
  .wp-calendar-table{
    margin-top: 0;
  }
  .wp-calendar-nav-next,
  .wp-calendar-nav-prev{
    position: absolute;
    left: 0;
    top: 0;
    display: inline-flex;
    height: 50px;
    align-items: center;
  }
  .wp-calendar-nav-next{
    justify-content: flex-end;
    left: auto;
    right: 0;
  }
  caption{
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 0;
    left: 0;
    width: 100%;
    padding: 0;
    height: 50px;
    color: $darkFontColor!important;
  }
}