/*
** Helper Utilities
*/
@import 'helpers/helpers_layout';
@import 'helpers/helpers_colors';
@import 'helpers/helpers_spacing';

.ds{
  .line-left{
    &::before{
      background-color: $colorMain;
    }
  }
}
.line-left{
  line-height: .8;
  font-weight: 600;
  & > *:first-child::before{
    content: '';
    display: inline-block;
    width: 50px;
    height: 1px;
    background-color: $darkgreyColor;
    transform: translateY(-0.3em);
    margin-right: 15px;
  }
  &.color-main{
    & > *:first-child::before{
      background-color: $colorMain;
    }
  }
  &.color-main2{
    & > *:first-child::before{
      background-color: $colorMain2;
    }
  }
}

.border-left-custom{
  @media (min-width: 768px) {
    border-left: 2px solid $colorMain;
    padding-left: 50px;
    padding-top: 10px;
    padding-bottom: 10px;
  }
}

.several-buttons{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  &.center-buttons{
    justify-content: center;
  }
  @media (max-width: 767px){
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .btn:not(:last-child){
    @media (min-width: 768px){
      margin-right: 20px;
    }
  }
  .btn:not(:first-child){
    @media (max-width: 767px){
      margin-top: 20px;
    }
  }
}

.height-100{
  & > div{
    height: 100%;
  }
}

.bottom-500-xl{
  background-color: transparent;
  @media (min-width: 1200px) {
    z-index: 3;
    margin-bottom: -500px;
    position: relative;
  }
}

.bottom-270-xl{
  background-color: transparent;
  @media (min-width: 1200px) {
    z-index: 3;
    margin-bottom: -270px;
    position: relative;
  }
}

@media (min-width: 1600px) {
  .mr--100-xl-with-scale {
    margin-top: 13px;
    margin-bottom: 13px;
    transform: translateX(100px) scale(1.06);
  }
}

.top-bottom-100-xl {
  position: relative;
  z-index: 20;
  .row{
    @media (min-width: 1200px) {
      z-index: 30;
      margin-top: -100px;
      margin-bottom: -100px;
      position: relative;
    }
  }
}

.top-75-xl {
  position: relative;
  z-index: 20;
  .row{
    @media (min-width: 1200px) {
      z-index: 30;
      margin-top: -75px;
      position: relative;
    }
  }
}

.column-two{
  columns: 2;
  @media (max-width: 575px){
    columns: auto;
  }
}

.columns-two{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  & > * {
    width: 50%;
  }
  @media (max-width: 575px) {
    flex-direction: column;
    align-items: flex-start;
    & > *{
      width: 100%;
      &:nth-child(2){
        margin-top: 35px;
      }
    }
  }
}

.team{
  &.excerpt-none{
    p + .team-excerpt{
      &:last-child{
        margin-top: -20px;
      }
    }
    .team-excerpt{
      display: none;
    }
  }
  &.position-none{
    .team-position{
      display: none;
    }
  }
  &.soc-icons-none{
    .social-icons{
      display: none;
    }
  }
}

.font-2{
  font-family: 'Open Sans', sans-serif;
}

.align-center{
  align-items: center;
}

.basis-flex-3{
  display: flex;
  margin-right: -15px;
  margin-left: -15px;
  & > div{
    flex-basis: 33.3%;
    padding-right: 15px;
    padding-left: 15px;
  }
  @media (max-width: 991px){
    flex-direction: column;
    margin-right: 0;
    margin-left: 0;
    & > div{
      padding-right: 0;
      padding-left: 0;
      &:not(:first-child){
        margin-top: 40px;
      }
    }
  }
}

.ds{
  .right-border{
    @media(min-width: 992px) {
      border-right: 1px solid $darkBorderColor;
    }
  }
}
.right-border{
  @media(min-width: 992px) {
    border-right: 1px solid $borderColor;
  }
}

.items-wrap{
  & > *:first-child{
    margin-right: 20px;
    padding-right: 20px;
    position: relative;
    &::after{
      content: '';
      height: 30px;
      width: 1px;
      background-color: $darkBorderColor;
      position: absolute;
      display: inline-block;
      right: 0;
      top: 50%;
      transform: translateY(-50%);
    }
  }
}

.border-radius-3{
  border-radius: 3px;
}

.l-height-medium{
  line-height: 1.5;
}

@keyframes bulb-1 {
  0%,100%{
    border-radius: 51% 49% 77% 23% / 36% 32% 68% 64% ;
  }
  35%{
    border-radius: 51% 49% 51% 49% / 32% 66% 34% 68% ;
  }
  75%{
    border-radius: 51% 49% 77% 23% / 61% 32% 68% 39%;
  }
}

@keyframes bulb-2 {
  0%, 100%{
    border-radius: 55% 45% 53% 47% / 38% 38% 62% 62%;
  }
  25%{
    border-radius: 51% 49% 65% 35% / 34% 36% 64% 66%;
  }
  60%{
    border-radius: 45% 55% 45% 55% / 42% 50% 50% 58%;
  }
  85%{
    border-radius: 37% 63% 32% 68% / 60% 38% 62% 40% ;
  }
}

@keyframes gradient {
  0%, 100%{background-position:10% 0%}
  50%{background-position:50% 100%}
}

@keyframes pulse-icon-color-main {
  0% {
  }
  70% {
    box-shadow: 0 0 0 30px rgba(rgba($colorMain,.2), 0), 0 0 0 15px rgba(rgba($colorMain,.2), 0);
  }
  100% {
    box-shadow: 0 0 0 0 rgba(rgba($colorMain,.2), 0), 0 0 0 0 rgba(rgba($colorMain,.2), 0);
  }
}

.elem-with-pattern{
  @media (min-width: 1200px) {
    display: inline-block;
    position: relative;
    overflow: visible;
    &::before{
      content: '';
      display: inline-block;
      width: 190px;
      height: 70px;
      -webkit-mask: url('../img/patterns/pattern14.png') no-repeat center;
      background-color: rgba($fontColor, .3);
      position: absolute;
      right: 15px;
      top: 15px;
      z-index: 1;
    }
    & > *{
      z-index: 3;
    }
  }
}

.img-bulb{
  position: relative;
  .img-bulb-wrap{
    position: relative;
    z-index: 3;
    border-radius: 69% 31% 70% 30% / 44% 40% 60% 56%;
    animation: bulb-2 11s linear infinite;
    overflow: hidden;
    &::before{
      content: '';
      display: inline-block;
      width: 100%;
      height: 100%;
      background-color: rgba($darkBlueColorLighter, .4);
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      z-index: 3;
    }
    img{
      width: 100%;
      height: auto;
    }
  }
  &::after{
    content: '';
    display: inline-block;
    width: 100%;
    height: 100%;
    background-color: rgba($colorMain2, .5);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(1.05);
    z-index: 1;
    border-radius: 41% 59% 35% 65% / 61% 26% 74% 39%;
    animation: bulb-2 10s linear infinite;
  }
}

.max-width-600{
  & > * {
    @media (min-width: 992px) {
      max-width: 600px;
    }
  }
}