/* widget_tag_cloud */
.widget_tag_cloud {
  margin-bottom: -4px;
  a {
    border: 1px solid $colorMain2;
    padding: 4px 22px;
    margin: 0 0 4px 0;
    text-align: center;
    display: inline-block;
    font-size: 16px!important;
    border-radius: 3px;
    &:hover {
      background-color: darken($colorMain2, 10%);
      border-color: darken($colorMain2, 10%);
      color: $lightColor;
    }
  }
}