.pricing-plan {
  text-align: center;
  padding: 70px 40px;
  box-shadow: $boxShadow;
  background: linear-gradient(65deg, $lightColor 0%, $lightColor 43%, #fafafa 43%, #fafafa 100%);
  position: relative;
  @media (max-width: 767px) {
    padding: 50px 25px;
  }

  .price-wrap {
    font-family: 'Montserrat', sans-serif;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    font-size: 50px;
    line-height: 0.7;
    margin: 60px 0 10px;
    font-weight: bold;
    @media (max-width: 767px) {
      margin-top: 30px;
    }
  }
  .plan-price {

  }
  .plan-sign{
    font-size: 30px;
    position: relative;
    bottom: 15px;
    margin-right: 15px;
  }
  .plan-name {
    h3 {
      font-size: 30px;
      line-height: 1;
    }
  }

  .plan-features {
    margin-top: 50px;
    @media (max-width: 767px) {
      margin-top: 30px;
    }
    .enabled{
      &::before{
        content: '\f00c';
        font-family: "FontAwesome", sans-serif;
        margin-right: 5px;
        color: $colorMain;
      }
    }
    .disabled{
      &::before{
        content: '\f00d';
        font-family: "FontAwesome", sans-serif;
        margin-right: 5px;
        color: $colorMain2;
      }
    }
  }

  .plan-button {
    margin-top: 50px;
    position: static;
    @media (max-width: 767px) {
      margin-top: 30px;
    }
  }
  .plan-featured-word{
    display: none;
    position: absolute;
    right: 20px;
    top: 20px;
    background-color: $colorMain;
    border-radius: 3px;
    padding: 0 20px;
    font-weight: bold;
    color: $lightColor;
  }
  //featured border
  &.plan-featured {
    background: linear-gradient(65deg, $lightColor 0%, $lightColor 43%, #fafafa 43%, #fafafa 100%);
    background-size: 200% 200%;
    animation: gradient 5s ease-in-out infinite;
    .plan-featured-word{
      display: block;
    }
    @media (min-width: 1200px) {
      transform: translateY(-40px);
      padding-top: 110px;
      padding-bottom: 110px;
    }
  }
}
