.quote-item {
  &.quote-layout-1{
    blockquote{
      margin-left: 0;
      padding-left: 70px;
      padding-top: 0;
      padding-bottom: 0;
      border: none;
      &::before,
      &::after{
        left: 0;
        top: -10px;
      }
      p{
        text-indent: unset;
        line-height: 1.6;
        &:before{
          left: 13px;
          top: 4px;
        }
      }
    }
    .quote-title,
    .quote-position{
      padding-left: 70px;
    }
    .quote-title{
      font-size: 24px;
      margin-bottom: 0;
    }
  }
  &.quote-layout-2{
    display: flex;
    border-radius: 3px;
    padding: 30px;

    .quote-img{
      position: relative;
      img{
        border-radius: 3px;
        z-index: 2;
        position: relative;
      }
      &::before{
        content: '';
        display: inline-block;
        width: 90px;
        height: 90px;
        background: url(../img/patterns/pattern14.png) no-repeat left bottom;
        position: absolute;
        z-index: 1;
        left: -15px;
        bottom: -15px;
        transition: all .3s ease-in-out;
      }
    }
    .quote-content{
      margin-left: 30px;
      blockquote {
        border: none;
        margin: 0;
        padding-top: 60px;
        padding-left: 0;
        padding-bottom: 0;
        &::before,
        &::after{
          right: 0;
          left: auto;
        }
        p {
          color: $fontColor;
          font-size: 16px;
          text-indent: unset;
          &::before{
            right: 10px;
            left: auto;
          }
        }
      }
    }
    .quote-title{
      margin-top: 50px;
      margin-bottom: 0;
    }
    & > *{
      width: 50%;
    }
    @media (max-width: 575px) {
      flex-wrap: wrap;
      .quote-content{
        margin-left: 0;
        margin-top: 50px;
      }
      & > *{
        width: 100%;
      }
    }
  }
}

.owl-quote{
  .owl-dots{
    text-align: left;
  }
}