/*
** Service
*/

.service-layout-1{
  position: relative;
  padding: 60px 35px;
  background: linear-gradient(39deg, $lightColor 0%, $lightColor 21%, #fafafa 21%, #fafafa 50%, $colorMain 50%, $colorMain 71%, lighten(desaturate($colorMain, 4.29), 6.27) 71.5%, lighten(desaturate($colorMain, 4.29), 6.27) 100%) left bottom;
  background-size: 200% 200%;
  border-radius: 3px;
  transition: all .3s ease-in-out;
  @media (min-width: 1200px){
    padding: 90px 45px;
  }
  .item-content{
    max-width: 280px;
    margin: 0 auto;
  }
  .btn-circle{
    position: absolute;
    left: 50%;
    bottom: -25px;
    transform: translate(-50%);
  }
  &:hover{
    background-position: right top;;
    color: $lightColor;
    a{
      color: $lightColor;
      &:hover{
        color: $darkColor;
      }
    }
    .btn-circle{
      background-color: $colorMain2;
      &:hover{
        background-color: $lightColor;
        color: $darkColor!important;
      }
    }
  }
}

.service-layout-2{
  position: relative;
  padding: 60px 35px;
  border-radius: 3px;
  background-color: $lightColor;
  transition: all .3s ease-in-out;
  &.grid{
    @media (max-width: 1500px){
      padding: 60px 35px;
    }
  }
  @media (min-width: 1200px){
    padding: 120px 45px 95px;
  }
  .item-content{
    max-width: 280px;
    margin: 0 auto;
  }
  .btn-circle{
    position: absolute;
    left: 50%;
    bottom: -25px;
    transform: translate(-50%);
  }
  &:hover{
    background-color: $colorMain;
    color: $lightColor;
    a{
      color: $lightColor;
      &:hover{
        color: $darkColor;
      }
    }
    .btn-circle{
      background-color: $colorMain2;
      &:hover{
        background-color: $lightColor;
        color: $darkColor!important;
      }
    }
  }
}

.list-services{
  list-style: none;
  padding: 10px 0;
  box-shadow: $boxShadow;
  border-radius: 3px;
  & > li{
    padding: 25px 40px;
    font-weight: 500;
    background-color: transparent;
    transition: all .3s ease-in-out;
    &:hover,
    &.current-menu-item{
      a{
        color: $colorMain2!important;
      }
    }
  }
}