/*
** Team
*/

.team-layout{
  position: relative;
  &::after{
    content: '';
    display: inline-block;
    width: 140px;
    height: 140px;
    background: url("../img/patterns/pattern13.png") no-repeat center / cover;
    position: absolute;
    z-index: 1;
    right: -35px;
    bottom: -35px;
    opacity: 0;
    transition: all .3s ease-in-out;
  }

  .item-media{
    border-radius: 3px 3px 0 0;
  }

  .item-content{
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
    border-radius: 0 0 3px 3px;
    overflow: hidden;
    position: relative;
    z-index: 2;
    transition: all .3s ease-in-out;
  }

  &:hover{
    &::after{
      opacity: 1;
    }
    .item-content{
      color: $lightColor;
      background-color: #373768;
    }
    a{
      color: $lightColor;
      &:hover{
        color: $colorMain2;
      }
    }
  }
}

.owl-carousel{
  .team-layout{
    margin-bottom: 35px;
  }
  &.owl-team{
    .owl-stage-outer{
      margin-right: -30px;
      margin-left: -30px;
      padding-right: 30px;
      padding-left: 30px;
    }
  }
}

.img-wrap{
  position: relative;
  img{
    position: relative;
    z-index: 2;
  }
  &::after{
    content: '';
    display: inline-block;
    width: 280px;
    height: 280px;
    background: url("../img/patterns/pattern14.png") no-repeat center / cover;
    position: absolute;
    z-index: 1;
    left: -32px;
    bottom: -32px;
    transition: all .3s ease-in-out;
  }
}

.team-single{
  background: url("../images/bg-team-single.png") no-repeat center / cover;
  blockquote{
    margin-left: 0;
    padding-left: 70px;
    padding-top: 0;
    padding-bottom: 0;
    border: none;
    &::before,
    &::after{
      left: 0;
      top: -10px;
    }
    p{
      text-indent: unset;
      line-height: 1.6;
      &:before{
        left: 13px;
        top: 4px;
      }
    }
  }
}
