//color schemes
//1
$styleNumber: '';
$colorMain: #e7496e;
$colorMain2: #27adc5;
$colorMain3: #27c56e;
$colorMain4: #f5bf1c;

//////bootstrap colors
//orange - warning

$colorPrimary: $colorMain;
//green
$colorSuccess: #4db19e;
//blue
$colorInfo: #007ebd;
//orange
$colorWarning: #eeb269;
//red
$colorDanger: #dc5753;