//color schemes
//2
$styleNumber: '2';
$colorMain: #27adc5;
$colorMain2: #27c56e;
$colorMain3: #f5bf1c;
$colorMain4: #e7496e;

//////bootstrap colors
//orange - warning

$colorPrimary: $colorMain;
//green
$colorSuccess: #388E3C;
//blue
$colorInfo: #2196F3;
//orange
$colorWarning: #FFC400;
//red
$colorDanger: #D50000;