//color schemes
//3
$styleNumber: '3';
$colorMain: #27c56e;
$colorMain2: #f5bf1c;
$colorMain3: #e7496e;
$colorMain4: #27adc5;

//////bootstrap colors
//orange - warning

$colorPrimary: $colorMain;
//green
$colorSuccess: #5BB75B;
//blue
$colorInfo: #006DCC;
//orange
$colorWarning: #FAA732;
//red
$colorDanger: #DA4F49;